
header {
    background: #6495ed url(../img/pattern.png);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 200px;
}

.link{
    color: #6495ed; 
}


.text-yellow{
    background-color: yellow;
}

.white-text{
    background-color: #1e90ff;
    color: white;
}

.riga-colored{
    background-color: #00bfff;
    color: black;
}

.large{
    width: 50%;
}

h5{
    color: gray;
    font: lighter;
}

h3{
  margin: 0px;
  background-image: url(');
  background-repeat: no-repeat;
  color: #FFFFFF;
}