
header {
    background: #6495ed url(../img/pattern.png);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 200px;
}

.link{
    color: #6495ed; 
}


.text-yellow{
    background-color: yellow;
}

.white-text{
    background-color: #1e90ff;
    color: white;
}

.riga-colored{
    background-color: #00bfff;
    color: black;
}

.large{
    width: 50%;
}

h5{
    color: gray;
    font: lighter;
}

.monitor{
  background-image: url(../img/monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0px;
}

.graph{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    color: #FFFFFF;
    text-align: center;
  }